@model IEnumerable<ProductModel>

<div class="text-center">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>CreatedDate</th>
                <th>Image</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Color</td>
                    <td>@product.CreatedDate.ToString("dd.MM.yyyy")</td>
                    <td>
                        <img height="100px" src="https://allmaster.com.ua/images/Stati/zapchasti-dlya-kompyutera-na-allmaster.jpg" alt="@product.Name">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>